.switcher1 {
        position: relative;
        display: block;
        align-items: center;
        overflow: hidden;
        width: 5rem;

}

.switcher1::after,
.switcher1::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(var(--brasil-blue-rgb), 0.6);

}

.switcher2 {
        position: relative;
        display: block;
        align-items: center;
        overflow: hidden;
        width: 5rem;
}

.switcher2::after,
.switcher2::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(var(--brasil-white-rgb),0.6);

}

.switcher2::after,
.switcher1::after {
        top: 0;
        right: 0;

}

.switcher1::before,
.switcher2::before {
        left: 0;
}

.switch1 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        width: 10rem;
        color: white;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem 1.5rem;
        transform: translateX(0%);
        transition: 350ms ease-out;
}

.switch2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;
        width: 10rem;
        color: white;
        font-size: 1.8rem;
        font-weight: 600;
        padding: 1rem 1.5rem;
        transform: translateX(-50%);
        transition: 350ms ease-out;
}


.switch2:hover {
        padding: 1rem 1.6rem;
        transform: translateX(0%);
}

.switch1:hover {
        transform: translateX(-50%);
}

.scrolledSwitch {
        color: rgba(var(--brasil-blue-rgb), 0.6);
}

.disabledLink {
        color: transparent;
        background-color: transparent;
}