/*logo*/
.logoPai {
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(18rem, 15vw, 25rem);
    height: auto;
    padding: 1rem;
    justify-self: center;
    align-self: center;
}

.logo {
    height: 100%;
    width: 100%;
    object-fit: contain;
    transition: 350ms ease-out;
}

.logo:hover {
    filter: hue-rotate(380deg);
    transition: filter 10s ease-in-out;

}