/*logo*/
.logoPai {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: clamp(15rem, 15vw, 25rem);
    height:80px;
    justify-self: center;
    align-self: center;
}

.logo {
    object-fit: contain;
    transition: 350ms ease-out;
}

.logo:hover {
    filter: hue-rotate(380deg);
    transition: filter 10s ease-in-out;
}
